/* место для вашего кода */
.header{
  display: grid;
  grid-template-columns: 388px 1fr 1fr 240px;
  align-items: center;
  padding: 92px 49px 92px 51px;
}

.header__menu{
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__links-list{
  display: flex;
  gap: 32px;
}

.header__links-list-item{
  list-style: circle;
}

.header__links-list-item :hover{
  color: #00f;
}

.header__links-list-item_no-bullit{
  list-style: none;
}

.header__link_active{
  text-decoration: none;
}

.header__logo-image{
  display: block;
  grid-column: 2;
  justify-self: end;
  margin-bottom: 4px;  
  width: 148px;
  height: 105px; 
}

.header__address{
  grid-column: 4;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
}

.cover{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 135px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 165px 50px 50px;
  color: #FFF;
}

.overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  opacity: 0.6;
  background-color: #000;
}

.cover__title{
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
}

.aligned-text {
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text_center{
  text-align: center;
  line-height: 100px;
}

.aligned-text_right{
  text-align: right;
  line-height: 100px;
}

.letter-spacing-extended{
  letter-spacing: 60px;
}

.no-letter-spacing{
  letter-spacing: 0;
}

.cover__description{
  display: flex;
  align-items: center;
  gap: 78px;
  justify-content: flex-end;
  z-index: 1;
}

.cover__description-text{
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button{
  background-color: transparent;
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  border: 1px solid #FFF;
  padding: 12px 32px;
}

.lots{
  display: grid;
  justify-content: center;
  margin-top: 180px;
  padding: 0 50px;
}

.lots__heading{
  padding-left: 40px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 27px;
  margin-bottom: 30px;
}

.lots__card-list-item{
  list-style: none;
  
}

.card-link{
  display: block;
  width: 430px;
  text-decoration: none;
}

.card{
  position: relative;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px;
  color: #FFF;
  background-size: contain;
}

.card_type_film{
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book{
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture{
  background-image: url(../images/card-lot-03.jpg);
}

.card__title{
  z-index: 1;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-decoration-line: underline;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text{
  z-index: 1;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.lots__look-more-link{
  padding-left: 40px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about{
  margin-top: 181px;
  padding: 0 50px;
  height: 487px;
}

.about__column{
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
  height: 100%;
}

.about__logo{
  justify-self: center;
  height: 240px;
  width: 240px;
  background-color: #000;
  border-radius: 50%;
}

.about__logo-image{
  padding: 63px 46px;
}

.about__container{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__title{
  padding: 100px 0 75px 0;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about__text{
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;  
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 180px 0 90px;
  padding: 0 50px;
}

.footer__address{
  text-align: left;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
}

.footer__menu-list{
  display: flex;
  flex-direction: column;

}

.footer__menu-list-item{
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  list-style: none;
}

.footer__menu-list-item :hover{
  color: #00f;
}

.footer__menu-link_active{
  text-decoration: none;
}

.footer__social-list{
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.footer__social-list-item{
  list-style: none;
}

.footer__social-icon{
  width: 48px;
  height: 48px;
}